PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=tesis_quest

JWT_ACCESS_SECRET=super_secreto_access_cambiame
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=super_secreto_refresh_cambiame
JWT_REFRESH_EXPIRES_IN=7d

GEMINI_API_KEY=
FALLBACK_AI_API_KEY=